[Unit]
Description=Web Monitoring Service
After=network.target

[Service]
Type=simple
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory={{ paths.app_dir }}
ExecStart={{ paths.app_dir }}/web-monitoring
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
